@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "avantgardeitc-demi";

  font-display: swap;
  src: url("../fonts/avantgardeitc-demi.woff2") format("woff2");
  src: url("../fonts/avantgardeitc-demi.woff") format("woff");
  src: url("../fonts/avantgardeitc-demi.ttf") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "OpenSans-Regular";

  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.ttf") format("woff");
}
