.logo {
  position: relative;

  display: flex;
  width: 100em;
  margin: 0 auto;

  font-size: 5px;


  &__original {
    position: absolute;
    top: 1.5 * $sign-size;

    width: 100em;
    height: $sign-size;

    background: url("../img/car-market-logo.svg") no-repeat;
    background-size: 100em;

    &::before {
      content: "Original svg:";
      position: relative;
      top: -1.5rem;

      font-size: 1rem;
    }
  }
}
